<div id="welcome-wrapper" ng-controller="welcomeCtrl">

    <div id="welcome-container">


        <img id="thanxio" src="img/ui/thanxio_logo.png" class="">


        <div id="liner" class="orange-color">
            bitcoin messenger
        </div>


        <div id="main-x-container">

            <img id="main-x" src="img/ui/3d_logo.png" class="">
        </div>


        <div id="instruct" class="orange-color">
            slide the coin below to start
        </div>
    </div>

    <div id="welcome-btm">


        <div id="main-slider-container" class="welcome-slider-container">

            <div class="slider-wrapper costume-input-border">

                <div id="main-arrow-left" class="s-left-welcome light-green-color text-wrapper">
                    <img class="max-h" style="float: left;" src="img/ui/left-arrow.png">
                </div>

                <div id="main-c" class="s-center"><img class="prevent-main-swipe" src="img/ui/thanx_icon.png"></div>

                <div id="main-arrow-right" class="s-right-welcome orange-color text-wrapper">
                    <img class="max-h" style="float: right;" src="img/ui/right-arrow.png"></div>


            </div>

        </div>


    </div>


</div>