<div id="modal-wrapper">

    <div class="confirm-text light-green-color">
        {{ Theme.confirmText }}
    </div>

    <div id="confirm-btns-container">

        <div ng-click="Theme.confirmModalBtn()" class="btns orange-color">
            <span>yes</span>
            <img src="img/ui/coin-green.png">
        </div>


        <div ng-click="Theme.cancelModalBtn()" class="btns orange-color">
            <span>no</span>
            <img src="img/ui/coin-orange.png">
        </div>


    </div>

</div>


