<div id="modal-wrapper">

    <div class="confirm-text light-green-color">
        please enter password
    </div>

    <div id="logmein-modal-input-container">
        <input ng-model="Theme.modalFields.password" type="password"
               class="orange-color costume-input-border dark-green-bg">
    </div>


    <div id="confirm-btns-container">

        <div ng-click="Theme.confirmModalBtn()" class="btns orange-color">
            <span>login</span>
            <img src="img/ui/coin-green.png">
        </div>


        <div ng-click="Theme.cancelModalBtn()" class="btns orange-color">
            <span>no <br>thanx</span>
            <img src="img/ui/coin-orange.png">
        </div>


    </div>

</div>


